* {
  margin: 0;
  padding: 0;
}
body {
  /* background: #3553A0; */
}
.radius20 {
  border-radius: 20px;
}
h2 {
  color: #333;
  text-align: center;
}
h3, h3.gray{
  font-weight: normal;
  text-align: center;
  color: #333;
}
h4, h4.gray{
    font-weight: normal;
    text-align: center;
    color: #333;
}
h2.white, h3.white {
  text-align: center;
  color: white;
}
header {
  position: fixed;
  max-height: 100px;
  width: 100%;
  background: white;
  z-index: 999;
}
.logo {
  margin: 15px;
  max-height: 65px;
}
.langChange {
  margin-top: 30px;
}
.langChange button {
  font-size: 1rem;
}
.part1 {
  background: #34589b;
  min-height: 680px;
  max-height: 680px;
  /*padding: 176px 0 0;*/
  position: relative;
}
@media (min-width: 600px) and (max-width: 992px) {
  .part1 {
    min-height: 400px;
  }
}
@media (max-width: 600px) {
  .langChange {
    margin-top: 10px;
  }
  .button {
    font-size: .4rem;
  }
  .part1 {
    min-height: 130px;
  }
  .part3 .helpDiv .helpLogo {
    height: 100px;
  }
  .part5 .customerDiv .customerLogo{
    height: 122px;
  }
}
@media (max-width: 750px) {
  .part2 h2{
    font-size: 24px;
  }
  .part2 h4{
    font-size: 16px;
  }
}
.part1 img{
  width: 100%;
  max-width: 1300px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.part2 {
  padding-top: 109px;
  padding-bottom: 44px;
  background-color: white;
}
.part2Small {
    padding-top: 39px;
    padding-bottom: 20px;
    background-color: white;
}
.part2 .part2Main  {
  text-align: center;
  margin-top: 118px;
}
.part2Small .part2Main  {
    text-align: center;
    margin-top: 28px;
}
.part2 .part2Main .part2MainDiv {
  padding: 0 58px 92px;
}
.part2 .part2Main img{
  margin: 0 auto 77px;
  height: 140px;
}
.part2 .part2Main p{
  font-size: 16px;
  color: #666;
  text-align: left;
}
.part2Small .part2Main img{
    margin: 0 auto 15px;
    max-height: 70px;
}
.part2Small .part2Main p{
    font-size: 12px;
    color: #666;
    text-align: left;
}
.part3, .part5 {
  padding-left: 0;
  padding-right: 0; 
}
.part3{
  width: 100%;
  padding: 143px 0 169px;
}
.part3 .part3Div {
  background: rgba(0,0,0,0);
}
.part3 .helpDiv, .part5 .customerDiv {
  padding-top: 82px;
}
.part3 .helpDiv .helpLogo {
  padding: 30px 2%;
}
.part4 {
  background-color: white;
  padding-top: 109px;
  text-align: center;
}
.part4 .part4Mian div{
  padding: 118px 0 92px;
}
.part4 .part4Mian img{
  margin-bottom: 44px;
  height: 60px;
}
.part4 .part4Mian p {
  margin-top: 39px;
  white-space: wrap;
  padding-right: 28px;
  font-size: 16px;
  color: #666;
  text-align: left;
}
.part4Small {
    background-color: white;
    padding-top: 39px;
    text-align: center;
}
.part4Small .part4Mian div{
    padding: 18px 0 5px;
}
.part4Small .part4Mian img{
    margin-bottom: 5px;
    max-height: 50px;
}
.part4Small .part4Mian p {
    margin-top: 5px;
    white-space: wrap;
    font-size: 12px;
    color: #666;
}
.part5 .part5Div{
  background: rgba(0,0,0,0);
}
.part3Bg, .part5Bg {
  background: url('../img/backgroundHelp.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.part5Bg {
  background: url('../img/backgroundCustomer.png') center no-repeat;
  background-size: cover;
}
.part5 {
  padding: 143px 0 169px;
}
.part5 .customerDiv .customerLogo {
  padding: 30px 2%;
}
.part3 .helpDiv .helpLogo img, .part5 .customerDiv .customerLogo img{
  margin:auto;
}
.toUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  transition: 1s;
  display: none;
}
footer{
  background: #3553A0;
  padding-top: 33px;
  padding-bottom: 46px;
}
footer .underline {
  /* border-bottom: 1px solid #82B5f1; */
  padding-bottom: 20px;
}
footer p{
  font-weight: lighter;
  font-size: 14px;
  color: #ededed;
  padding-top: 25px;
}